h1 {
    font-weight: bold;
    color: #333;
  }
  
  .table th {
    background-color: #003f3f;
    color: white;
    text-align: center;
  }
  
  .table td {
    vertical-align: middle;
    text-align: center;
  }
  
  .table td:last-child {
    width: 100px;
  }
  