body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #006d6f; /* Teal color */
  padding: 20px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin: 0 15px;
  cursor: pointer;
  color: white;
}

.App-main {
  background-image: url('./components/images/img1.jpg'); /* Replace with your image URL */
  background-size: cover;
  height: 500px; /* Adjust height as necessary */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  margin: 10px 0 0;
}